<!DOCTYPE html>
<html>
<head>
  <title>Review</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "home", root_path %> |
  <%= link_to "add song", songs_path %> |
  <%= link_to "add artist", new_artist_path %>
  <%= yield %>

</body>
</html>
