<h1><%= @artist.name %></h1>

<%= form_for [@artist, @album] do |f| %>
  <%= f.label :name %>: <%= f.text_field :name %><br>
  <%= f.label :release_year %>: <%= f.text_field :release_year %><br>
  <%= f.submit %>
<% end %>

<table>
  <tr>
    <th>name</th>
    <th>release year</th>
    <th>view songs</th>
  </tr>
  <% @artist.albums.each do |album| %>
    <tr>
      <td><%= album.name %></td>
      <td><%= album.release_year %></td>
      <td><%= link_to "show", album %></td>
    </tr>
  <% end %>
</table>
